<template>
  <div class="container">
    <header role="banner">
      <h1 class="title">
        vue-van11y-sandbox
      </h1>
      <h2 class="subtitle">
        van11y-vue
      </h2>
    </header>
    <main role="main">
      <h2 class="js-expandmore">Lorem dolor si amet</h2>
      <div class="js-to_expand">
        here the hidden content
      </div>
    </main>    
    <footer role="contentinfo">
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          class="button--green">Documentation</a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          class="button--grey">GitHub</a>
      </div>
    </footer>
  </div>
</template>

<script>
import van11y_mixin from '@/mixins/van11y'

export default {
  mixins: [van11y_mixin]
}
</script>

<style>
.container {
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.js-to_expand[aria-hidden=true],
.js-to_expand[data-hidden=true] {
  display: none;
}
</style>

